/* Clash Display */
@font-face {
    font-family: 'clash-display';
    font-weight: 400;
    font-style: normal;
    src: url('/assets/fonts/clash-display/ClashDisplay-Regular.otf') format('opentype');
}

@font-face {
    font-family: 'clash-display';
    font-weight: 900;
    font-style: normal;
    src: url('/assets/fonts/clash-display/ClashDisplay-Semibold.otf') format('opentype');
}

.font-clash-rg {
    font-family: 'clash-display', sans-serif;
    font-weight: 400;
}
.font-clash-sb {
    font-family: 'clash-display', sans-serif;
    font-weight: 900;
}

/* Inter */
@font-face {
    font-family: 'Inter-VariableFont_opsz';
    font-weight: 100 900;
    font-style: normal;
    src: url('/assets/fonts/inter/Inter-VariableFont_opsz,wght.ttf') format('truetype');
}

.font-inter {
    font-family: 'Inter-VariableFont_opsz', sans-serif;
}

body {
    font-family: 'Noto Sans KR', sans-serif;
    color: #191f28;
}
