@tailwind base;
@tailwind components;
@tailwind utilities;

/* ============ Fonts ============ */
/* Clash Display */
@font-face {
    font-family: 'clash-display';
    font-weight: 400;
    font-style: normal;
    src: url('/assets/fonts/clash-display/ClashDisplay-Regular.otf') format('opentype');
}

@font-face {
    font-family: 'clash-display';
    font-weight: 900;
    font-style: normal;
    src: url('/assets/fonts/clash-display/ClashDisplay-Semibold.otf') format('opentype');
}

.font-clash-rg {
    font-family: 'clash-display', sans-serif;
    font-weight: 400;
}
.font-clash-sb {
    font-family: 'clash-display', sans-serif;
    font-weight: 600;
}

/* Inter */
@font-face {
    font-family: 'Inter-VariableFont_opsz';
    font-weight: 100 900;
    font-style: normal;
    src: url('/assets/fonts/inter/Inter-VariableFont_opsz,wght.ttf') format('truetype');
}

.font-inter {
    font-family: 'Inter-VariableFont_opsz', sans-serif;
}

/* ============ Colors & Variables ============ */
:root {
    --color-black: #191f28;
    --color-purple: #d390ff;
    --color-mint: #00ced4;
    --color-yellow: #ffff00;
    --color-blue: #006eff;
    --color-lightBlue: #519cff;
    --color-lightGray: #bdbdbd;

    --color-purpleLine: #b254f0;
    --color-mintLine: #00a4a9;
    --color-yellowLine: #b2b200;
    --color-blueLine: #588ac9;

    --color-blueBg: #dbeeff;
    --color-GrayBg: #eeeeee;

    --color-dateGray: #616161;

    --color-DisabledGrayBg: #f5f5f5;
    --color-disabledGrayStroke: #e0e0e0;
}

body {
    font-family: 'Noto Sans KR', sans-serif;
    color: #191f28;
}

/* ============ Color Utility Classes ============ */
.c_black {
    background-color: var(--color-black);
}
.c_purple {
    background-color: var(--color-purple);
}
.c_mint {
    background-color: var(--color-mint);
}
.c_yellow {
    background-color: var(--color-yellow);
}
.c_blue {
    background-color: var(--color-blue);
}
.c_lightBlue {
    background-color: var(--color-lightBlue);
}
.c_lightGray {
    background-color: var(--color-lightGray);
}

.c_purpleLine {
    border-color: var(--color-purpleLine);
}
.c_mintLine {
    border-color: var(--color-mintLine);
}
.c_yellowLine {
    border-color: var(--color-yellowLine);
}
.c_blueLine {
    border-color: var(--color-blueLine);
}

.c_blueBg {
    background-color: var(--color-blueBg);
}
.c_GrayBg {
    background-color: var(--color-GrayBg);
}

.c_dateGray {
    color: var(--color-dateGray);
}

.c_DisabledGrayBg {
    background-color: var(--color-DisabledGrayBg);
}
.c_disabledGrayStroke {
    background-color: var(--color-disabledGrayStroke);
}

