<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>

  <script src="https://cdn.tailwindcss.com"></script>

  <link rel="stylesheet" href="/css/common.css">

</head>

<body>
  <div class="flex justify-center items-center border-black h-100 pt-9">

    <div class="flex justify-center items-center">
      <div class="flex gap-[10%]">
        <img src="/img/img/keyVisual_1.svg" alt="키비주얼">
        <p class="font-clash text-[115px]">ARTS</p>
        <a href="#"
          class="flex justify-between w-[300px] h-[100px] bg-[#D390FF] px-[24px] py-[16px] rounded-full border-2 border-[#B254F0]">
          <span class="text-xl"><strong>투어</strong> 신청</span>
          <div class="flex justify-center items-center bg-white rounded-full w-[50px] h-[50px]">
            <img src="/img/icons/arrow.svg" class="w-[20px] h-[20px]" alt="화살표">
          </div>
        </a>
      </div>
    </div>

  </div>
</body>

</html>