<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>

  <link rel="stylesheet" href="/style/font.css">
  <link rel="stylesheet" href="/style/global.css">
  <link rel="stylesheet" href="/style/output.css">

</head>

<body>
  <div class="flex justify-center items-center">

    <div class="flex justify-start flex-col gap-[16px]">

      <div class="flex items-center gap-[3%]">
        <img class="" src="/assets/imgs/img/keyVisual_1.svg" alt="키비주얼">
        <p class="font-clash-rg text-[115px] leading-none whitespace-nowrap">ARTS</p>
        <a href="#"
          class="flex justify-between min-w-[260px] h-[100px] c_purple px-[24px] py-[16px] rounded-full border-2 c_purpleLine">
          <span class="text-xl whitespace-nowrap"><strong>투어</strong> 신청</span>
          <div class="flex justify-center items-center bg-white rounded-full w-[50px] h-[50px]">
            <img src="/assets/imgs/icons/arrow.svg" class="w-[20px] h-[20px]" alt="화살표">
          </div>
        </a>
      </div>

      <div class="flex items-center gap-[2vw]">
        <div class="w-[32px]"></div>
        <img src="/assets/imgs/icons/mv_arrow.svg" alt="비주얼화살표">
        <img src="/assets/imgs/img/keyVisual_2.svg" alt="키비주얼">
        <p class="font-clash-rg text-[115px] leading-none whitespace-nowrap">KOREA</p>
        <a href="#"
          class="flex justify-between min-w-[260px] h-[100px] c_mint px-[24px] py-[16px] rounded-full border-2 c_mintLine">
          <span class="text-xl"><strong>대관·시설</strong> 신청</span>
          <div class="flex justify-center items-center bg-white rounded-full w-[50px] h-[50px]">
            <img src="/assets/imgs/icons/arrow.svg" class="w-[20px] h-[20px]" alt="화살표">
          </div>
        </a>
      </div>

      <div class="flex items-center gap-[2vw]">
        <div class="w-[200px]"></div>
        <img src="/assets/imgs/icons/mv_arrow.svg" alt="비주얼화살표">
        <img src="/assets/imgs/img/keyVisual_5.svg" alt="키비주얼">
        <p class="font-clash-sb text-[115px] leading-none whitespace-nowrap">LAB</p>
        <a href="#"
          class="flex justify-between min-w-[260px] h-[100px] c_yellow px-[24px] py-[16px] rounded-full border-2 c_yellowLine">
          <span class="text-xl"><strong>비즈 컨설팅</strong> 신청</span>
          <div class="flex justify-center items-center bg-white rounded-full w-[50px] h-[50px]">
            <img src="/assets/imgs/icons/arrow.svg" class="w-[20px] h-[20px]" alt="화살표">
          </div>
        </a>
      </div>

    </div>

  </div>
</body>

</html>