<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>

  <script src="https://cdn.tailwindcss.com"></script>

  <link rel="stylesheet" href="/style/font.css">
  <link rel="stylesheet" href="/style/global.css">

</head>

<body>
  <div class="flex justify-center items-center flex-col border-black h-100 pt-9">

    <div class="flex justify-center items-center gap-[5%]">
      <img src="/assets/imgs/img/keyVisual_1.svg" alt="키비주얼">
      <p class="font-clash-rg text-[115px]">ARTS</p>
      <a href="#"
        class="flex justify-between w-[350px] h-[100px] c_purple px-[24px] py-[16px] rounded-full border-2 c_purpleLine">
        <span class="text-xl"><strong>투어</strong> 신청</span>
        <div class="flex justify-center items-center bg-white rounded-full w-[50px] h-[50px]">
          <img src="/assets/imgs/icons/arrow.svg" class="w-[20px] h-[20px]" alt="화살표">
        </div>
      </a>
    </div>

    <div class="flex justify-center items-center gap-[2%] pl-[20%]">
      <img src="/assets/imgs/icons/mv_arrow.svg" alt="비주얼화살표">
      <img src="/assets/imgs/img/keyVisual_2.svg" alt="키비주얼">
      <p class="font-clash-rg text-[115px]">KOREA</p>
      <a href="#"
        class="flex justify-between w-[350px] h-[100px] c_mint px-[24px] py-[16px] rounded-full border-2 c_mintLine">
        <span class="text-xl"><strong>대관·시설</strong> 신청</span>
        <div class="flex justify-center items-center bg-white rounded-full w-[50px] h-[50px]">
          <img src="/assets/imgs/icons/arrow.svg" class="w-[20px] h-[20px]" alt="화살표">
        </div>
      </a>
    </div>

    <div class="flex justify-center items-center gap-[2%] pl-[39%]">
      <img src="/assets/imgs/icons/mv_arrow.svg" alt="비주얼화살표">
      <img src="/assets/imgs/img/keyVisual_5.svg" alt="키비주얼">
      <p class="font-clash-sb text-[115px]">LAB</p>
      <a href="#"
        class="flex justify-between w-[350px] h-[100px] c_mint px-[24px] py-[16px] rounded-full border-2 c_mintLine">
        <span class="text-xl"><strong>대관·시설</strong> 신청</span>
        <div class="flex justify-center items-center bg-white rounded-full w-[50px] h-[50px]">
          <img src="/assets/imgs/icons/arrow.svg" class="w-[20px] h-[20px]" alt="화살표">
        </div>
      </a>
    </div>

  </div>
</body>

</html>