<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>

  <script src="https://cdn.tailwindcss.com"></script>

</head>

<body>
  <div class="flex justify-center items-center border-black h-100">

    <div class="flex justify-center items-center">
      <div class="flex gap-[10%]">
        <img src="/img/img/keyVisual_1.svg" alt="키비주얼">
        <p class="font-clash">ARTS</p>
        <link rel="stylesheet" href="#" class="w-[260px] h-[100px] bg-[#D390FF]">
        ddd
        </link>
      </div>
    </div>

  </div>
</body>

</html>