<body>
  <div class="flex justify-center items-center">

    <div class="grid w-[1150px] border gap-y-[40px]">

      <!-- row 1 -->
      <div class="grid grid-cols-[auto_auto_auto_1fr] items-center gap-[3%]">
        <img src="/assets/imgs/img/keyVisual_1.svg" alt="키비주얼">

        <p class="font-clash-rg text-[115px] leading-none whitespace-nowrap">
          ARTS
        </p>

        <a href="#"
          class="flex justify-between min-w-[260px] h-[100px] c_purple px-[24px] py-[16px] rounded-full border-2 c_purpleLine">
          <span class="text-xl whitespace-nowrap"><strong>투어</strong> 신청</span>
          <div class="flex justify-center items-center bg-white rounded-full w-[50px] h-[50px]">
            <img src="/assets/imgs/icons/arrow.svg" class="w-[20px] h-[20px]" alt="화살표">
          </div>
        </a>
      </div>

      <!-- row 2 -->
      <div class="grid grid-cols-[1fr_auto_auto_auto] items-center gap-[2%]">
        <div></div>

        <img src="/assets/imgs/icons/mv_arrow.svg" alt="비주얼화살표">

        <img src="/assets/imgs/img/keyVisual_2.svg" alt="키비주얼">

        <p class="font-clash-rg text-[115px] leading-none whitespace-nowrap">
          KOREA
        </p>

        <a href="#"
          class="flex justify-between min-w-[260px] h-[100px] c_mint px-[24px] py-[16px] rounded-full border-2 c_mintLine">
          <span class="text-xl"><strong>대관·시설</strong> 신청</span>
          <div class="flex justify-center items-center bg-white rounded-full w-[50px] h-[50px]">
            <img src="/assets/imgs/icons/arrow.svg" class="w-[20px] h-[20px]" alt="화살표">
          </div>
        </a>
      </div>

      <!-- row 3 -->
      <div class="grid grid-cols-[1fr_1fr_auto_auto_auto] items-center gap-[2%]">
        <div></div>
        <div></div>

        <img src="/assets/imgs/icons/mv_arrow.svg" alt="비주얼화살표">

        <img src="/assets/imgs/img/keyVisual_5.svg" alt="키비주얼">

        <p class="font-clash-sb text-[115px] leading-none whitespace-nowrap">
          LAB
        </p>

        <a href="#"
          class="flex justify-between min-w-[260px] h-[100px] c_yellow px-[24px] py-[16px] rounded-full border-2 c_yellowLine">
          <span class="text-xl"><strong>비즈 컨설팅</strong> 신청</span>
          <div class="flex justify-center items-center bg-white rounded-full w-[50px] h-[50px]">
            <img src="/assets/imgs/icons/arrow.svg" class="w-[20px] h-[20px]" alt="화살표">
          </div>
        </a>
      </div>

    </div>

  </div>
</body>