<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>

  <script src="https://cdn.tailwindcss.com"></script>

  <link rel="stylesheet" href="/css/common.css">

</head>

<body>
  <div class="flex justify-center items-center border-black h-100">

    <div class="flex justify-center items-center">
      <div class="flex gap-[10%]">
        <img src="/img/img/keyVisual_1.svg" alt="키비주얼">
        <p class="font-clash">ARTS K</p>
        <a href="#" class="flex w-[260px] h-[100px] bg-[#D390FF] px-8 py-6">
          <span>버튼 텍스트</span>
          <span>🌟</span>
        </a>
      </div>
    </div>

  </div>
</body>

</html>