/* 폰트 선언 */
@font-face {
    font-family: 'clash-display';
    font-weight: 400;
    font-style: regular;
    src: url('../font/clash-display/ClashDisplay-Regular.otf') format('otf');
}

@layer utilities {
    .font-clash {
        font-family: 'clash-display', sans-serif;
    }
}

body {
    font-family: 'Noto Sans KR', sans-serif;
}
