html,
body {
    height: 100%;
}

.page_body {
    overflow: hidden;
    background-color: #ffffff;
}

.snap_page {
    height: 100dvh;
    overflow-x: auto;
    overflow-y: auto;
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.snap_page::-webkit-scrollbar {
    width: 0;
}

.snap_page::-webkit-scrollbar:vertical {
    width: 0;
}

.snap_section {
    min-height: 100dvh;
    height: 100%;
    max-width: 1240px;
    width: 100%;
    scroll-snap-align: start;
    scroll-snap-stop: always;
}
