html,
body {
    height: 100%;
}

.page_body {
    overflow-y: auto;
    background-color: #ffffff;
}

/* 전체 화면 높이 */
.snap_page {
    height: 100dvh;
    overflow-y: auto;
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
}

/* 각 섹션별 높이 */
.snap_section {
    min-height: 100dvh;
    height: 100dvh;
    min-width: 120px;
    width: 120px;
    scroll-snap-align: start;
    scroll-snap-stop: always;
}

/* 기능별 레이아웃의 직계 부모 */
.section_container {
    width: 100%;
    display: flex;
    align-items: center;
    height: 100%;
    /* padding-left: 20px;
    padding-right: 20px; */
}

.section_box {
    min-height: calc(100dvh - 120px);
}

@media (min-width: 769px) {
    .section_container {
        padding-left: 24px;
        padding-right: 24px;
    }
}

@media (min-width: 993px) {
    .section_container {
        padding-left: 60px;
        padding-right: 60px;
    }
}

@media (min-width: 1201px) {
    .section_container {
        padding-left: 0;
        padding-right: 0;
    }
}
