html,
body {
    height: 100%;
}

.page_body {
    overflow-y: auto;
    background-color: #ffffff;
}

/* 전체 화면 높이 */
.snap_page {
    height: 100dvh;
    overflow-y: auto;
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
}

/* 각 섹션별 컨테이너(전체 너비, 높이를 가진 가장 상위 부모) */
.snap_section {
    min-height: 100dvh;
    height: 100dvh;
    max-width: 1240px;
    width: 1240px;
    scroll-snap-align: start;
    scroll-snap-stop: always;
    padding-left: 60px;
    padding-right: 60px;
}

.section_box {
    min-height: calc(100dvh - 120px);
}
