/* mobile */
@media (min-width: 360px) {
}

/* tablet */
@media (max-width: 768px) {
    .snap_page {
        padding-left: 20px;
        padding-right: 20px;
    }
}

/* laptop */
@media (min-width: 768px) and (max-width: 992px) {
    .snap_page {
        padding-left: 24px;
        padding-right: 24px;
    }
}

/* desktop */
@media (min-width: 992px) {
    .snap_page {
        padding-left: 60px;
        padding-right: 60px;
    }
}

@media (min-width: 1268px) {
    .wrapper_visual {
        width: 100%;
        gap: 24px;
    }

    .text_visual {
        font-size: 115px;
    }

    .btn_visual {
        width: 260px;
        height: 100px;
        border-radius: 999px;
        padding: 24px 32px;
        font-size: 18px;
    }

    .btn_visual span {
        font-size: 20px;
    }

    .quick_link {
        width: 50px;
        height: 50px;
        border-radius: 999px;
    }

    .quick_link::before {
        content: '';
        display: inline-block;
        width: 18px;
        height: 18px;
        background: url('/assets/imgs/icons/arrow.svg') center / contain no-repeat;
    }

    .icon_arrow1 {
        margin-left: 5%;
    }

    .icon_arrow2 {
        margin-left: 18%;
    }
}
