@media (max-width: 1270px) {
    /* main-1 visual_pc */
    .wrapper_visual {
        gap: 20px;
    }

    .wrapper_visual_pc {
        font-size: 100px;
    }

    .btn_visual {
        width: 226px;
        height: 86px;
        padding: 24px;
    }

    .btn_visual span {
        font-size: 18px;
    }

    .icon_visual1 {
        width: 104px;
    }

    .icon_visual2 {
        width: 96px;
    }

    .icon_visual3 {
        width: 250px;
    }
}

@media (max-width: 1110px) {
    /* main-1 visual_pc */
    .icon_arrow2 {
        margin-left: 5%;
    }
}

/* desktop */
@media (min-width: 992px) {
    .snap_page {
        padding-left: 24px;
        padding-right: 24px;
    }
}

/* tablet */
@media (max-width: 991px) {
    .snap_page {
        padding-left: 20px;
        padding-right: 20px;
    }
    /* main-1 visual_pc */
    .wrapper_visual_pc {
        font-size: 80px;
    }
}

/* laptop */
@media (min-width: 768px) and (max-width: 992px) {
    /* main-1 visual_pc */
    .btn_visual {
        display: none;
    }

    .icon_arrow1 {
        margin-left: 6%;
    }

    .icon_arrow2 {
        margin-left: 22%;
    }
}

@media (max-width: 767px) {
    .container_visual_pc {
        display: none;
    }

    .container_visual_mobile {
        display: flex;
        align-items: center;
    }
}

/* mobile */
@media (min-width: 360px) {
}
