.swiper-button-prev,
.swiper-button-next,
.swiper-rtl .swiper-button-next {
    left: var(--swiper-navigation-sides-offset);
    right: var(--swiper-navigation-sides-offset);
}

.ml-\[16px\] {
    margin-left: 0px;
    margin-right: 8px;
}
