.swiper-button-prev,
.swiper-button-next {
    left: var(--swiper-navigation-sides-offset);
    right: var(--swiper-navigation-sides-offset);
}

.swiper-container,
.main2-swiper {
    width: 100%;
    height: 305px;
    border-radius: 20px;
    overflow: hidden;
    transform: scaleX(-1);
}

.swiper-slide {
    width: 100%;
    height: 100%;
}

.swiper-slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    transform: scaleX(-1);
}

.main2-swiper .swiper-wrapper {
    display: flex;
    align-items: stretch;
}

.main2-swiper .swiper-slide {
    height: auto;
    width: 100% !important;
    flex-shrink: 0;
}

.main2-swiper-pagination {
    display: none !important;
}

.main2-swiper-progress {
    position: relative;
    width: 100%;
    height: 3px;
    background-color: rgba(25, 31, 40, 0.24);
}

.main2-swiper-progress-fill {
    position: absolute;
    top: 50%;
    left: 0;
    height: 4px;
    background-color: var(--color-black);
    transform: translateY(-50%);
    transition:
        left 0.3s ease,
        width 0.3s ease;
}
